@import "bootstrap/dist/css/bootstrap.css";

@import "prism-one-dark.css";
@import "prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "prismjs/plugins/match-braces/prism-match-braces.css";

@font-face {
  font-family: "gameplay";
  src: url("../fonts/gameplay.ttf");
}

@font-face {
  font-family: "jetbrains-mono";
  src: url("../fonts/jetbrains-mono.ttf");
}

a {
  color: #0e8b70;
  font-weight: bold;
}

a:hover {
  color: #21a588;
}

a:not(.underline) {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "gameplay";
}

.btn {
  --bs-btn-border-radius: 0;
}

.btn-primary {
  --bs-btn-bg: #0e8b70;
  --bs-btn-border-color: #0e8b70;
  --bs-btn-disabled-bg: #0e8b70;
  --bs-btn-disabled-border-color: #0e8b70;
  --bs-btn-hover-bg: #095d4b;
  --bs-btn-hover-border-color: #095d4b;
  --bs-btn-active-bg: #095d4b;
  --bs-btn-active-border-color: #0e8b70;

}

.font-gameplay {
  font-family: "gameplay";
}

.form-range::-webkit-slider-thumb {
  background: var(--bs-primary);
}

.form-range::-moz-range-thumb {
  background: var(--bs-primary);
}

.form-range::-ms-thumb {
  background: var(--bs-primary);
}

:root {
  --bs-body-font-family: "jetbrains-mono";
  --bs-primary: #0e8b70;
  --bs-secondary: #fdc80a;
}
