---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Code Challenges">
    <div class="p-5 mb-3 bg-gray">
        <a href="/" class="text-white">← Back</a>
        <div class="container justify-content-center">
            <div class="text-center">
                <h1 class="text-white">Code Challenges</h1>
                <img src="/courses/code-challenges/code-challenges-logo.png" alt="Code Challenges Logo">
            </div>
        </div>
    </div>

    <div class="container">
        <h3>Elementary Programming Challenges</h3>
        <p><a href="./1-chain-letter">Challenge 1 - Chain Letter</a></p>
        <p><a href="./2-mad-lib">Challenge 2 - Mad Lib</a></p>
        <p><a href="./3-mi-to-km">Challenge 3 - Miles to Kilometers Calculator</a></p>
        <p><a href="./4-celsius-to-fahrenheit">Challenge 4 - Celsius to Fahrenheit Calculator</a></p>
        <p><a href="./5-tip-calculator">Challenge 5 - Tip Calculator</a></p>
        <p><a href="./6-height-to-inches">Challenge 6 - Height to Inches Calculator</a></p>
        <p><a href="./7-change-calculator">Challenge 7 - Change Calculator</a></p>
        <p><a href="./8-line-slope">Challenge 8 - Line Slope Formula</a></p>
        <p><a href="./9-magic-8-ball">Challenge 9 - Magic 8-Ball</a></p>
        <p><a href="./10-quadratic-equation">Challenge 10 - Quadratic Equation</a></p>
        <p><a href="./11-dungeon-crawler">Challenge 11 - Dungeon Crawler</a></p>
        <p><a href="./12-fizz-buzz">Challenge 12 - FizzBuzz</a></p>
        <p><a href="./13-atm-validation">Challenge 13 - ATM Validation</a></p>
        <p><a href="./14-heads-or-tails">Challenge 14 - Heads or Tails</a></p>
        <p><a href="./15-coin-flip-simulator">Challenge 15 - Coin Flip Simulator</a></p>
        <p><a href="./16-raffle">Challenge 16 - Raffle</a></p>
        <p><a href="./17-sample-data">Challenge 17 - Sample Data Generator</a></p>
        <h3>Function Programming Challenges</h3>
        <p><a href="./f1-area-circle">Function Challenge 1 - Area of a Circle</a></p>
        <p><a href="./f2-min-max">Function Challenge 2 - Min and Max</a></p>
        <p><a href="./f3-fahrenheit-to-celsius">Function Challenge 3 - Fahrenheit to Celsius</a></p>
        <p><a href="./f4-average">Function Challenge 4 - Average</a></p>
    </div>
</Layout>



<style>
    .bg-gray {
        background-color: #494949;
    }
</style>
