<ul>
    <li>Spam Letter</li>
    <li>Mad Lib</li>
    <li>Mi to Km Calculator</li>
    <li>Celsius to Fahrenheit Calculator</li>
    <li>Tip Calculator</li>
    <li>Line Slope Calculator</li>
    <li>Inches to Height Calculator</li>
    <li>Cashier Change Calculator</li>
    <li>Quadratic Formula</li>
    <li>Magic 8-Ball</li>
    <li>FizzBuzz Riddle</li>
    <li>Dungeon Crawler</li>
    <li>ATM</li>
    <li>Heads or Tails</li>
    <li>Coin Flip Simulation</li>
    <li>Raffle Contest</li>
    <li>Fibonacci Sequence</li>
    <li>Prime Number Test</li>
    <li>Prime Factorization</li>
    <li>Compound Interest Calculator</li>
</ul>
