---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Python Fundamentals">
    <div class="p-5 mb-3 bg-gray">
        <a href="/" class="text-white">← Back</a>
        <div class="container justify-content-center">
            <div class="text-center">
                <h1 class="text-white">Code Challenges</h1>
                <img src="/courses/code-challenges/code-challenges-logo.png" alt="Code Challenges Logo">
            </div>
        </div>
    </div>

    <div class="container">
        <h3>Elementary Programming Challenges</h3>
        <p><a href="./1-chain-letter">Challenge 1 - Spam Letter</a></p>
        <p><a href="./2-mad-lib">Challenge 2 - Mad Lib</a></p>
        <p><a href="./3-mi-to-km">Challenge 3 - Miles to Kilometers Calculator</a></p>
    </div>
</Layout>



<style>
    .bg-gray {
        background-color: #494949;
    }
</style>


<!-- <ul>
    <li>Celsius to Fahrenheit Calculator</li>
    <li>Tip Calculator</li>
    <li>Line Slope Calculator</li>
    <li>Inches to Height Calculator</li>
    <li>Cashier Change Calculator</li>
    <li>Quadratic Formula</li>
    <li>Magic 8-Ball</li>
    <li>FizzBuzz Riddle</li>
    <li>Dungeon Crawler</li>
    <li>ATM</li>
    <li>Heads or Tails</li>
    <li>Coin Flip Simulation</li>
    <li>Raffle Contest</li>
    <li>Fibonacci Sequence</li>
    <li>Prime Number Test</li>
    <li>Prime Factorization</li>
    <li>Compound Interest Calculator</li>
</ul> -->
