---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Robotics Fundamentals">
    <div class="p-5 mb-3 bg-blue">
        <a href="/" class="text-white">← Back</a>
        <div class="container justify-content-center">
            <div class="text-center">
                <h1 class="text-white">Robotics Fundamentals</h1>
                <img src="/courses/robotics-fundamentals/robotics-logo.png" alt="Robotics Logo">
            </div>
        </div>
    </div>

    <div class="container">
        <h3>Part 1 - INSERT</h3>
        <p><a href="activities/#">INSERT</a></p>
    </div>
</Layout>



<style>
    .bg-blue {
        background-color: #A70000;
    }
</style>
