---
import Layout from '../layouts/Layout.astro';
import CourseCard from '../components/CourseCard.astro';
---

<Layout title="Home | Sehs.io">
    <div class="container">
        <div class="row">
                <div class="col-12">
                    <div class="card-img-top">
                        <img src="/courses/c-sharp-fundamentals/dog-template.gif" />
                    </div>
                    <div class="card-body"></div>
                </div>
                <img class="img-fluid" src="/courses/c-sharp-fundamentals/dog-walking.gif" />
                <img class="img-fluid" src="/courses/c-sharp-fundamentals/dog-sitting.gif" />
                <img class="img-fluid" src="/courses/c-sharp-fundamentals/dog-jumping.gif" />
                <img class="img-fluid" src="/courses/c-sharp-fundamentals/dog-sleeping.gif" />

            </div>
        </div>
    </div>

</Layout>