---
import Layout from '../layouts/Layout.astro';
import CourseCard from '../components/CourseCard.astro';
---

<Layout title="Home | Sehs.io">
  <main>
    <!-- Jumbotron -->
    <section class="p-4 bg-secondary bg-opacity-25">
        <h1 class="text-center display-5 font-gameplay fw-bold">St. Edward High School</h1>
        <h2 class="text-center font-gameplay">Computer Science and other stuff</h2>
        <div id="logo-animation" class="d-flex justify-content-center"></div>
    </section>

    <!-- Main Content -->
    <section class="container-fluid pt-5 left-triangle-bg">

        <!-- Courses -->
        <div class="container mb-5">
            <h2 class="text-center font-gameplay mb-5">Course Content</h2>

            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <CourseCard
                        title="C++ Fundamentals"
                        img="/courses/cpp-fundamentals/cpp-course-card.png"
                        link="/"
                    />
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <CourseCard
                        title="C# Fundamentals"
                        img="/courses/c-sharp-fundamentals/c-sharp-course-card.png"
                        link="/c-sharp-fundamentals/"
                    />
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <CourseCard
                        title="Python Fundamentals"
                        img="/courses/python-fundamentals/python-course-card.png"
                        link="/python-fundamentals/"
                    />
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <CourseCard
                        title="Code Challenges"
                        img="/courses/code-challenges/code-challenges-course-card.png"
                        link="/"
                    />
                </div>
                <hr>
            </div>
        </div>

        <!-- Cheat Sheets / Utilities -->
        <div class="container pb-5">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h2 class="text-center font-gameplay mb-5">Cheat Sheets</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit hic exercitationem consequuntur esse? Tenetur harum explicabo nostrum vitae, ad ut, obcaecati culpa animi quis ipsum quas quod officia aliquam voluptate!</p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h2 class="text-center font-gameplay mb-5">Utilities</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, a. Expedita quod ratione iste recusandae quam nulla nisi consectetur quia, ipsam, excepturi blanditiis ullam consequuntur sint dolorem quis harum aut.</p>
                </div>
            </div>
        </div>

    </section>
  </main>
</Layout>

<script>
    import P5 from 'p5';

    const sketch = (p: P5) => {
        let toggled = false;
        let logo: P5.Geometry;

        let fillLogo = () => {
            p.fill('#fbc604');
            p.stroke('#0e8b70');
        };

        let clearFillLogo = () => {
            p.noFill();
            p.noStroke();
            p.normalMaterial();
        };

        p.setup = () => {
            const canvas = p.createCanvas(250, 250, p.WEBGL);
            canvas.mouseOver(() => (toggled = true));
            canvas.mouseOut(() => (toggled = false));
            logo = p.loadModel('/eds-logo.stl');
        };

        p.draw = () => {
            toggled ? fillLogo() : clearFillLogo();
            p.background(0, 0, 0, 0);
            p.scale(40);
            p.rotateX(1.50);
            p.rotateZ(p.frameCount * -0.035);
            p.model(logo);
        };
    };

    new P5(sketch, document.getElementById('logo-animation'));
</script>

<style>
    #logo-animation {
        height: 250px;
    }

    .left-triangle-bg {
        background-image: url('/left-triangle-bg-2.png');
        background-repeat: repeat-y;
    }
</style>
