---
export interface Props {
	link: string;
    img: string;
    title: string;
}

let {
    link = "#",
    img,
    title,
} = Astro.props
---

<div class="card mb-4 card-shadow">
    <a href={link}>
        <img src={img} class="card-img-top" alt={title} />
    </a>
</div>

<style>
    .card {
        box-shadow: none;
        transition: box-shadow 0.25s ease;
        border-radius: 0;
    }

    .card-img-top {
        border-radius: 0;
    }

    html[data-bs-theme=light] .card-shadow:hover {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }

    html[data-bs-theme=dark] .card-shadow:hover {
        box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.15) !important;
    }
</style>
