---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="C# Fundamentals">
    <div class="p-5 mb-3 bg-green">
        <a href="/" class="text-white">← Back</a>
        <div class="container justify-content-center">
            <div class="text-center">
                <h1 class="text-white">C# Fundamentals</h1>
                <img src="/courses/c-sharp-fundamentals/c-sharp-logo.png" alt="C# Logo">
            </div>
        </div>
    </div>

    <div class="container">
        <h3>Overview</h3>
        <p><a href="activities/0-1-intro-to-c-sharp">Introduction to the C# Language</a></p>
        <h3>Part 1 - Programming Basics</h3>
        <p><a href="activities/1-1-hello-world">1.1 Hello World!</a></p>
        <p><a href="activities/1-2-arithmetic">1.2 Arithmetic</a></p>
        <p><a href="activities/1-3-string-formatting">1.3 String Formatting</a></p>
        <p><a href="activities/1-4-variables">1.4 Variables</a></p>
        <p><a href="activities/1-5-manipulating-variables">1.5 Manipulating Variables</a></p>
        <p><a href="activities/1-6-prompting-for-input">1.6 Prompting for Input</a></p>
        <p><a href="activities/1-7-prompting-for-numerical-input">1.7 Prompting for Numerical Input</a></p>
        <p><a href="activities/1-8-constants-type-inference">1.8 Constants and Type Inference</a></p>
        <p><a href="activities/1-9-math-random-methods">1.9 Math and Random Methods</a></p>
    </div>
</Layout>



<style>
    .bg-green {
        background-color: #05850b;
    }
</style>
